@model Employee

@{
    ViewData["Title"] = "Index";
}

@{
    if (Model == null)
    {
        <h4>No user is logged in.</h4>
    }
    else
    {
        <h4 class="text-muted">Employee Profile</h4>
        <h4 class="text-muted">Employee ID: @Model.EmpId</h4>

        <p>Full Name:   @Model.FullName</p>
        <p>Job Title:   @Model.JobTitle</p>
        <p>Email:       @Model.Email</p>
    }
}
