
@{
    ViewData["Title"] = "Default";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Charts</title>
</head>
<body>
    <div>
        <h2>Employee Stats</h2>
        <select id="chartTypeSelect" class="dropdown" name="chartType">
            <option style="display:none">-- Select Job --</option>
            <option value="revenue">Revenue</option>
            <option value="outcomes">Client Outcome</option>
            <option value="performance">Performance</option>
        </select>
        <button id="chart-gen">Generate</button>
        <br />
        <canvas id="chart-container"></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>

    <script>
        $(document).ready(() => {
            var barchart = document.getElementById('chart-container').getContext('2d');
            let chartType;
            let chartData;
            $("#chart-gen").click(() => {
                $.ajax({
                    type: "GET",
                    url: "ChartDetails", 
                    dataType: "JSON",
                    contentType: "application/json",
                    success: (json) => {
                        console.log(json);
                        chartType = json.type;
                        chartData = json.data;
                        return new Chart(barchart, {
                            type: chartType,
                            data: {
                                labels: ['001', '002', '003'],
                                datasets: [{
                                    label: 'Bar Chart',
                                    data: chartData,
                                    backgroundColor: 'rgba(255, 122, 0, 0.7)'
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        })
                    },
                    error: (xhr, status, errorThrown) => {
                        console.log(status);
                        console.log(errorThrown);
                    }
                });
                
            });
        });
        

    </script>
</body>
</html>

