
@{
    ViewData["Title"] = "test";
}

@* Tutorial https://www.youtube.com/watch?v=YFeA7xH17kE *@

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Bar Chart
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="bar"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Pie Chart
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="pie"></canvas>
            </div>
        </div>
    </div>
</div>

@* Go to https://cdnjs.com/ , search for chart.js then click the </> icon to get the script tag link below *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>

<script type="text/javascript">
    var barchart = document.getElementById('bar').getContext('2d');
    var mybarchart = new Chart(barchart, {
        type: 'bar',
        data: {
            labels: ['001', '002', '003'],
            datasets: [{
                label: 'Bar Chart',
                data: [100, 200, 300],
                //use https://www.hexcolortool.com/ to generate rgba color
                backgroundColor: 'rgba(255, 122, 0, 0.7)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    var piechart = document.getElementById('pie').getContext('2d');
    var mypiechart = new Chart(piechart, {
        type: 'pie',
        data: {
            labels: ['001', '002', '003'],
            datasets: [{
                label: 'Bar Chart',
                data: [100, 200, 300],
                //use https://www.hexcolortool.com/ to generate rgba color
                backgroundColor: 'rgba(255, 152, 215, 1)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script>

