
@{
    ViewData["Title"] = "Default";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Charts</title>
</head>
<body>
    <div>
        <h2>Employee Stats</h2>
        <select id="chartTypeSelect" class="dropdown" name="chartType">
            <option style="display:none">-- Select Job --</option>
            <option value="revenue">Revenue</option>
            <option value="outcomes">Client Outcome</option>
            <option value="performance">Performance</option>
        </select>

        <button id="chart-gen">Generate Bar Graph</button>
        <br />
        <canvas id="chart-container"></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>

    <script>
        $(document).ready(() => {
            var chart = document.getElementById('chart-container').getContext('2d');
            let chartType;
            let chartData;
            let graphSelection;
            var genChart;
            $("#chart-gen").click(() => {
                graphSelection = document.getElementById('chartTypeSelect').value;
                if (graphSelection == "revenue") {
                    /** REVENUE GRAPH */
                    $.ajax({
                        type: "GET",
                        url: "ChartDetailsRevenue",
                        dataType: "JSON",
                        contentType: "application/json",
                        success: (json) => {
                            console.log(json);
                            chartType = json.type;
                            chartData = json.data;
                            genChart = new Chart(chart, {
                                type: chartType,
                                data: {
                                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                                    datasets: [{
                                        label: 'Revenue',
                                        data: chartData,
                                        fill: false,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        tension: 0.1
                                    }]
                                },
                            })
                            return genChart;
                        },
                        error: (xhr, status, errorThrown) => {
                            console.log(status);
                            console.log(errorThrown);
                        }
                    });
                    genChart.destroy();
                } else if (graphSelection == "outcomes") {
                    /** CLIENT OUTCOME GRAPH */
                    $.ajax({
                        type: "GET",
                        url: "ChartDetailsOutcome",
                        dataType: "JSON",
                        contentType: "application/json",
                        success: (json) => {
                            console.log(json);
                            chartType = json.type;
                            chartData = json.data;
                            genChart = new Chart(chart, {
                                type: chartType,
                                data: {
                                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                                    datasets: [{
                                        label: 'Denied',
                                        data: chartData,
                                        backgroundColor: 'rgba(255, 99, 132, 0.5)'
                                    },
                                    {
                                        label: 'Completed',
                                        data: chartData,
                                        backgroundColor: 'rgba(54, 162, 235, 0.5)'
                                    }]
                                },
                            })
                            return genChart;
                        },
                        error: (xhr, status, errorThrown) => {
                            console.log(status);
                            console.log(errorThrown);
                        }
                    });
                    genChart.destroy();
                } else if (graphSelection == "performance") {
                    /** PERFORMANCE GRAPH */
                    $.ajax({
                        type: "GET",
                        url: "ChartDetailsPerformance",
                        dataType: "JSON",
                        contentType: "application/json",
                        success: (json) => {
                            console.log(json);
                            chartType = json.type;
                            chartData = json.data;
                            genChart = new Chart(chart, {
                                type: chartType,
                                data: {
                                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                                    datasets: [{
                                        label: 'Working Hours',
                                        data: chartData,
                                        fill: false,
                                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                        borderColor: 'rgb(54, 162, 235)',
                                        tension: 0.1
                                    }]
                                },
                            })
                            return genChart;
                        },
                        error: (xhr, status, errorThrown) => {
                            console.log(status);
                            console.log(errorThrown);
                        }
                    });
                    genChart.destroy();
                }
            });
        });
    </script>
</body>
</html>

