<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Index</title>

    <style>
        #blockContainer {
            display: block;
            margin-left: 0%;
            margin-right: 5%;
            margin-top: 0%;
            margin-bottom: auto;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 1px;
        }

        #message {
            font-size: 20px;
            font-weight: bold;
        }

        #schedulebox {
            border: 5px solid grey;
            width: 100%;
            height: 600px;
            margin: 20px;
        }

        #modalinput {
            width: 100%;
        }

        #abovechartlabel {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 11px;
        }

        #serviceTypeSelect {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 7px;
            border-radius: 5px;
            height: 35px;
        }

        .modalbuttons {
            width: 35%;
        }

        .abovechartbuttons {
            margin: 5px;
        }

        .splitline {
            width: 100%;
        }
    </style>
</head>
<body>

    <div id="mainContainer">
        <div id="blockContainer">
            <div id="dynamicContainer" class="d-flex flex-column">
                <div class="d-flex justify-content-start">
                    <div>
                        <h1 id="message" class="">Service Calender</h1>
                    </div>
                </div>
                <hr class="splitline">

                <div class="d-flex justify-content-start">
                    <div>
                        <p id="abovechartlabel">Filter by Service</p>
                    </div>
                    <div>
                        @*fix later*@
                        <select for="Services" id="serviceInput" class="form-control" asp-items="ViewBag.ServiceTypes">
                            <option value="">Select a service</option>
                        </select>
                    </div>
                    <div>
                        <button id="btn-search" class="btn btn-primary abovechartbuttons">Search</button>
                    </div>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" id="" class="btn btn-outline-primary abovechartbuttons" data-toggle="modal" data-target="#exampleModalCenter">Email Service Schedule</button>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div id="schedulebox" class="d-flex flex-column bd-highlight mb-3">
                        <div id="dp"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Email Service Schedule</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Email recipient:</label><br>
                                    <input id="modalinput" placeholder="Email">
                                </div>
                                <div id="" class="modal-footer justify-content-around">
                                    <button type="button" class="btn btn-danger modalbuttons" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-success modalbuttons" data-dismiss="modal">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
    <script src="~/js/daypilot-all.min.js"></script>
    <script>

        var dp = new DayPilot.Calendar("dp");
        dp.viewType = "Week";
        dp.headerDateFormat = "ddd d MMMM yyyy";
        dp.businessBeginsHour = 0;
        dp.businessEndsHour = 24;
        dp.heightSpec = "Fixed";
        dp.height = 560;
        dp.eventMoveHandling = "Disabled";
        dp.eventClickHandling = "Disabled";
        dp.eventResizeHandling = "Disabled";
        dp.eventDeleteHandling = "Disabled";
        dp.eventHoverHandling = "Bubble";
        dp.bubble = new DayPilot.Bubble({
            onLoad: function (args) {
                // if event object doesn't specify "bubbleHtml" property 
                // this onLoad handler will be called to provide the bubble HTML
                console.log(typeof(args.source.text()));
                var text = args.source.text();
                text = spliceSlice(text, text.indexOf(" \n\n"), 0, ",");
                args.html = text;
            }
        }),
        dp.init();

        $("#btn-search").click((event) => {
            let searchId = $("#serviceInput option:selected").val();
            $.ajax({
                type: 'GET',
                url: `/ServiceShifts/GetServiceShifts/${searchId}`,
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);

                    var shiftsList = [];

                    for (let i = 0; i < data.length; i++) {
                        var startDate = data[i].startDate.slice(0, data[i].startDate.lastIndexOf('-'));
                        var endDate = data[i].endDate.slice(0, data[i].endDate.lastIndexOf('-'));
                        var shift = {
                            id: DayPilot.guid(),
                            text: convertText(data[i].serviceTitle, data[i].location),
                            start: new DayPilot.Date(startDate),
                            end: new DayPilot.Date(endDate)
                        }
                        shiftsList.push(shift);
                    }

                    console.log(shiftsList);

                    dp.events.list = shiftsList;
                    dp.update();
                }
            });
        });

        var convertText = (service, location) => {
            return `Service:\n ${service} \n\n Location:\n ${location}`;
        }

        function spliceSlice(str, index, count, add) {
            // We cannot pass negative indexes directly to the 2nd slicing operation.
            if (index < 0) {
                index = str.length + index;
                if (index < 0) {
                    index = 0;
                }
            }

            return str.slice(0, index) + (add || "") + str.slice(index + count);
        }

    </script>
</body>
</html>